@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.background{
  background: url('../image/background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
 width: 100%;
 height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
}

.exit{
  float:right;
  margin-top:-20px;
  margin-right:-20px;
  font-size: 30px;
}

.home-btn{
  width: 100px;
  margin: 5px
}
.join-btn{
  width:300px;
  height:80px;
  box-shadow: 2px 2px 5px black;
}
.center{
  padding:10% 0;
  width:50%;
  margin:0 auto;
}
.center h2{
  font-family: "Roboto", sans-serif;
  font-size :80px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px black;
  overflow: hidden
}
.center p{
  font-family: "Roboto", sans-serif;
  font-size :35px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;

}
.text{
  font-family: "Roboto", sans-serif;
  font-size :35px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}


.login-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.title{
  font-family: "Roboto", sans-serif;
}

.showboard {
  margin-left:20%;
  margin-right:20%;
}

.add-board-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 700px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.add-board-form input {
  text-align: center;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  height:50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.add-board-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 40px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.board-item{
  height: 100px;
  width:371px;
  margin:10px;
  box-shadow: 1px 1px 3px grey
}
.add-board-item{
  height: 100px;
  width:371px;
  margin:10px;
  box-shadow: 1px 1px 3px grey
}

div.board-item:hover{
  background-color:#2E7D32;
}

.modal-dialog{

    position: fixed !important;
    width: auto;
    pointer-events: none;

}

.red-border {

  width: 100% !important;
}

/* .react-datepicker__input-container{
  width: 130 px !important;
} */


