.StyleManagela {
    font-family: Alex Brush, Helvetica;
    color: #23db23;
    font: 100px;
    height: 9px;
    width: 272px;
    font-size: 48px
    }
    @font-face {
       font-family: 'Alex Brush', cursive;
       src: url("https://fonts.googleapis.com/css?family=Alex+Brush");
    }
    .textbg {
        text-align:center;
        color: #fff;
        font-size: 35px;
        
    }
    
    .textbg1 {
        text-align:center;
        color: #fff;
        font-size: 50px;
    }
    
    .alignCenter {
        
        transform: translate(50px, 300px);
        
    }
    
    .btn1 {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      height: 65px;
      width: 500px;
    }
    
    .thumbnails > li {
        display: inline-flex;
        *display:inline; /* ie7 fix */
        float: none; /* this is the part that makes it work */
    }
    .btnjoinus{
    
        font-style: 32px
    
        height: 10px;
        width: 50px;
        font-size: 32px
    }
    
    .div1 {
        border: 1px solid black;
        padding: 20px;
        width: 600px;
        height: 500px;
        text-align: justify;
    }
    .btn {
        border: none; /* Remove borders */
        color: white; /* Add a text color */
        padding: 30px 28px; /* Add some padding */
        cursor: pointer; /* Add a pointer cursor on mouse-over */
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 6px;
        cursor: pointer;
    }
    .button1 {
        background-color: #1b5e20; /* Green */
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 6px;
        cursor: pointer;
    }
    
    
    .bg {
                  /* The image used */
                  background: url("https://c1.staticflickr.com/3/2843/9662617155_3d391e81bc_h.jpg");
                   opacity: 0.6;
                  filter: alpha(opacity=50);
                 /* Set rules to fill background */
       min-height: 100%;
       min-width: 100%;
    
      
      /* Set up proportionate scaling */
      width: 100%;
      height: auto;
      
      /* Set up positioning */
      position: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    
              }
.modal-dialog{

    position: unset !important;
    width: auto;
    pointer-events: none;
}